.getintouch {
  background-color: #000000;
  margin: 0 auto;

  &__container {
    display: flex;
    justify-content: center;
    padding: 110px 0;
  }

  &__content {
    text-align: center;
    color: #ffffff;
    max-width: 600px;
  }

  &__title {
    font-size: 40px;
    line-height: 1.05;
    padding: 0 15px;
  }

  &__subtitle {
    font-size: 24px;
    line-height: 1.25;
    color: #c0c0c0;
    padding: 12px 0 26px 0;
  }

  &__button {
  }
}

@media (max-width: 500px) {
  .getintouch {
    &__title {
      font-size: 30px;
    }
    &__subtitle {
      font-size: 20px;
    }
  }
}
